/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
	margin: 0;
}

a {
	text-decoration: none;
}

#top_bar {
	margin: 0;
	margin-bottom: 3em;
	background: #222;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0 0 4px black;
}

#top_bar a {
	color: inherit;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-size: 24px;
	font-family: Georgia;
	font-style: italic;
	color: #aaa;
}

h1 span {
	color: white;
}

#user_info {
	color: white;
}

#login_form, #user_info {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 20px;
	margin-top: 20px;
}

#login_form a {
	color: #ccf;
}

#main_container {
	margin: auto;
	width: 700px;
}

.debug_dump {
  clear: both;
  margin: 45px;
  box-sizing: border-box;
}